@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(233,231,218);
    background-repeat: no-repeat;
    background-size: 540px;
    background-position: center;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    padding: 35px 80px 0px 80px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(57,62,68);
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}
.cuerpo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    z-index: -1;
}
.texto1{
    padding: 20px 0px 20px 30px;
    margin: 140px 700px 0px 400px;
    font-weight: 20;
    font-size: 38px;
    color: rgb(57,62,68);
    background-color: rgb(216,214,204);
    width: 25%;
}
.texto2{
    background-color: rgb(57,62,68);
    padding: 20px 80px 20px 270px;
    color: rgb(216,214,204);
    width: 30%;
    margin: 60px 0px 30px 0px;
}
.texto3{
    position: absolute;
    top: 322px;
    left: 1000px;
    font-size: 30px;
    color: rgb(57,62,68);
}
.texto4{
    position: absolute;
    top: 282px;
    left: 900px;
    padding: 5px 0px 5px 20px;
    font-size: 75px;
    background-color: rgb(216,214,204);
    color: rgb(233,231,218);
    z-index: -1;
    width: 40%;
}
.texto5{
    margin: 50px 200px 0px 830px;
    padding: 20px 120px 20px 150px;
    background-color: rgb(57,62,68);
    color: rgb(216,214,204);
    font-size: 30px;
    width: 10%;
}
.footer{
    display: flex;
    margin: 560px 20px 0px 20px;
    justify-content: space-around;
    background-position: center bottom;
}
.left{
    font-weight: 300;
    color: rgb(57,62,68);
}
.middle{
    font-weight: 300;
    color: rgb(233,231,218);
    position: absolute;
    z-index: 0;
}
.right{
    font-weight: 300;
    color: rgb(57,62,68);
}
.num-8{
    font-size: 50px;
}
.pritexbot{
    font-size: 20px;
}
.num-120{
    font-size: 50px;
}
.segtexbot{
    font-size: 20px;
}
.infinito{
    font-size: 50px;
}
.tertexbot{
    font-size: 20px;
}
img{
    position: absolute;
    top: 0px;
    left: 500px;
    z-index: -1;
    height: 100vh;
}